$wSidebar: 250px;

html {
  scroll-behavior: smooth;
}

.main {
  margin-left: $wSidebar;
  top: 0 !important;
  right: 0;
  position: absolute;
  overflow: hidden;
}

footer {
  width: 100%;
  text-align: center;
  color: white;
  background-color: #222;
  height: 38px;
  padding: 0.5rem;
}

.content-intro {
  margin-top: 3rem !important;
  padding-top: 3rem !important;
  padding-bottom: 7.5rem !important;
}

.intro {
  background-color: #ffeb3b !important;
  float: left;
  width: 100%;
  max-width: 100%;
  text-align: center !important;
}

.contact {
  background-color: #ffeb3b !important;
  float: left;
  width: 100%;
  max-width: 100%;
  text-align: center !important;
}
.btn {
  cursor: pointer;
  display: inline-flex;
  display: -webkit-inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1.5rem;
  color: #222;
  font-size: 1.2rem;
  background-color: transparent;
  border: 0.1rem solid #bbb;
  border-radius: 0.3rem;
  outline: 0;
  margin: 0 0 0.8rem;
  text-transform: none;
}

.btn-primary {
  color: #fff !important;
  background-color: #2196f3 !important;
  border-color: #2196f3 !important;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #fff !important;
  background-color: #0c82df !important;
  border-color: #0c82df !important;
}

.btn-primary-inverse {
  color: #2196f3 !important;
  background-color: transparent !important;
  border-color: #2196f3 !important;
}

.btn-primary-inverse:hover,
.btn-primary-inverse:focus {
  color: #fff !important;
  background-color: #0c82df !important;
  border-color: #0c82df !important;
}

.title {
  font-size: 2.9rem !important;
}

.portfolio {
  background-color: #ececec !important;
  display: inline-block;
}

.section-title-block {
  display: inline-block;
  width: 100%;
  margin-top: 5rem !important;
  margin-bottom: 4rem !important;
  text-align: center !important;
}

.section-title-block-2 {
  display: inline-block;
  width: 100%;
  margin-top: 4rem !important;
  margin-bottom: 3rem !important;
  text-align: center !important;
}

.section-title {
  text-transform: uppercase !important;
}

.section-title:after {
  content: "";
  display: block;
  border: 0.1rem solid #222;
  width: 10rem;
  margin: 0.5rem auto;
}

.card-portfolio {
  width: 100%;
  display: inline-flex;
  flex-flow: row wrap !important;
  justify-content: space-around !important;
  margin-bottom: 2rem !important;

  .cell {
    position: relative;
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(50% - 2.5rem);
    width: 50%;
    margin: 1.2rem;
    background-color: #fff !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}

a {
  color: #2196f3;
  text-align: center;
  text-decoration: none;
}

.cell-footer {
  display: flex;
  bottom: 0 !important;
  padding-left: 1.5rem !important;
  padding-bottom: 0.75rem !important;
  padding-top: 0.75rem !important;
  align-items: center !important;
  background-color: #ececec !important;
}

.language-code {
  color: #757575 !important;
  width: 82%;
  text-align: left !important;
  float: left;
}

.source-link {
  text-align: right !important;
  width: 12%;
  float: right;
}
