.section-title-block-2 {
  display: inline-block;
  width: 100%;
  margin-top: 4rem !important;
  margin-bottom: 3rem !important;
  text-align: center !important;
}

.section-title-block-2 {
  display: inline-block;
  width: 100%;
  margin-top: 4rem !important;
  margin-bottom: 3rem !important;
  text-align: center !important;
}

.contact {
  background-color: #ffeb3b !important;
  float: left;
  width: 100%;
  max-width: 100%;
  text-align: center !important;
}
