.intro {
  background-color: #ffeb3b !important;
  float: left;
  width: 100%;
  max-width: 100%;
  text-align: center !important;
}

.title {
  font-size: 2.9rem !important;
}
.content-intro {
  margin-top: 3rem !important;
  padding-top: 3rem !important;
  padding-bottom: 7.5rem !important;
}
