.intro {
  background-color: #ffeb3b;
  float: left;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.title {
  font-size: 2.9rem;
}
.content-intro {
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 7.5rem;
}
